@CHARSET "ISO-8859-1";



body {
            background-image: url('background.png'); 
            background-size: cover;
            background-rpeat: no-repeat;
            background-attachment: fixed; 
            font-family: 'Roboto', sans-serif;
        }
        


.nav{
	flex:1;
	text-align: right;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    color: #fff; 
    padding: 10px; 
    padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}


.logo1 {
    width: 70px; 
    height: auto; 
    margin-right: 10px;
     
}




.text1{
	
	display: flex;
	height: 80%;
	align-items: center;
 	position: absolute;
 	top: 50%;
 	transform: translate(0, -50%);
	padding: 40px;
	
	
}

.col{
	flex-basis: 50%;
}

h1{
	color: #fff;
	font-size: 50px;
	text-shadow: 2px 2px 15px #baf707;
}

p{
	color: #fff; 
	font-size: 20px;
	line-height: 30px;
}

.navbar ul {
    list-style: none;
    margin-left: 400px;
}

.navbar ul li {
    display: inline;
    margin-right: 10px; 
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}


.navbar a:hover {
    color: #88273b;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}




.container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 20px;
    max-width: 400px; 
    text-align: center;
}


.container1 h2 {
    color: #333; 
    margin-bottom: 20px;
}

.container1 label {
    display: block;
    margin-bottom: 10px;
}

.container1 input[type="text"],
.container1 input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 button[type="submit"] {
    background-color: #007BFF; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.container1 button[type="submit"]:hover {
    background-color: #0056b3; 
}





