@CHARSET "ISO-8859-1";



body {
            background-image: url('background.png'); 
            background-size: cover;
            background-rpeat: no-repeat;
            background-attachment: fixed; 
            font-family: 'Roboto', sans-serif;
        }
        


.nav{
	flex:1;
	text-align: right;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    color: #fff; 
    padding: 10px; 
    padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}


.logo1 {
    width: 70px; 
    height: auto; 
    margin-right: 10px;
    
}




.text1{
	
	display: flex;
	height: 80%;
	align-items: center;
 	position: absolute;
 	top: 50%;
 	transform: translate(0, -50%);
	padding: 40px;
	
	
}

.col{
	flex-basis: 50%;
}

h1{
	color: #fff;
	font-size: 50px;
	text-shadow: 2px 2px 15px #baf707;
}

p{
	color: #fff; 
	font-size: 20px;
	line-height: 30px;
}

.navbar ul {
    list-style: none;
    margin-left: 270px;
}

.navbar ul li {
    display: inline;
    margin-right: 10px; 
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}


.navbar a:hover {
    color: #88273b;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 30px;
	
}

.navbar{
	height: 12%;
	display: flex;
	align-items: center;
}

button{

	width: 180px;
	color: #000;
	font-size: 12px;
	padding: 12px 0;
	background: #fff;
	border: 0;
	border-radius: 20px;
	outline: none;
	margin-top: 30px;

}

.card{

	width: 500px;
	height: 120px;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 40px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 40px;

	background-position: center;
	background-size: cover;
	transition: transform 0.5s;
	
}

.card1{
	background-image: url(rent1.png) ;
	
}

.card2{
	background-image: url(fuel.png) ;
	
}

.card3{
	background-image: url(analytics.png) ;
	
}

h5{
	color: #fff;
	text-shadow: 2px 2px 15px #000000;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.card:hover{
	transform: translateY(-10px) ;
}



.table-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto; 
    max-width: 800px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}



table {
    width: 50%; 
    border-collapse: collapse;
    margin: 0 auto; 
    background-color: white; 
    border-radius: 5px;
     border-collapse: separate; 
    border-spacing: 10px;
}
}

th, td {
  	
   	text-align: left;
    padding: 10px; 
    border: 1px solid #000; 
}

th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
    margin-top: 20px; 
}


input[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #45a049;
}
